
<div class="span6 offset0 text-center stolen-surfbox centered-homebox">
	
	<h1 class="custom-font-1">Hello I'm Ankit!</h1>
	
	<h2 class="custom-font-2"> I'm having a lot of fun learning how to code at the Firehose Weekend</h2>

	<%= link_to("Launch App", pics_path, :class => 'btn btn-large btn-primary') %>

</div>
